<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div id = "heading"></div>
  <h1>
    anjuuu {{ title |lowercase}}!</h1>
  
 
   <h4>{{name}} is learning angular</h4>
   <h5>Number add</h5>
   {{num1+num2 | currency:'INR'}}
   <h6>current date</h6>
{{displayDate()}}
we are from family component:
<div>
  <app-family></app-family>
</div>

  shop:

  <a routerLink="/Catalog">Catalog</a>
  
  <a routerLink="/products">products</a>
  <a routerLink="/todo">task</a>
  <a routerLink="/remote">remote</a>
 <router-outlet></router-outlet>
  </div>